# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/modules/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Personal Files
personal/
sample-data/
pyproject.toml
poetry.lock

# IDE / Editor
.idea
.vscode

