[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "3.2.1"
sphinx-rtd-theme = "0.5.0"
autopep8 = "1.5.4"
psutil = "5.6.6"
flake8 = "3.8.3"

[packages]
selenium = "3.141.0"

[requires]
python_version = "3.8"
